/*
 * SASS Vars
 * --------------------------------------------------------------- */

$default: #f938ab;
$backgroundFooter: #111;
$backgroundOverlay: #84C5FF;

@mixin linear-gradient($color1, $color2) {
	background: linear-gradient(to bottom, $color1, $color2);
}

@mixin rgba($color, $alpha) {
	background-color: $color;
	background: rgba($color, $alpha);
}

@mixin transition ($property: all, $duration: 2s, $timing: ease) {
	-moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

/* -----------------------------------------
   Foundation reset
----------------------------------------- */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Base Styling
 * --------------------------------------------------------------- */

body {
	background: #191919;
	background: linear-gradient(to bottom, #191919, #303030);
	color: #333;
}
.contain-to-grid .top-bar {
	margin-bottom: 0;
}

/*
 * Typography
 * --------------------------------------------------------------- */

h1,
h2,
.web-font {
	font-family: Numans, sans-serif; 
}

.blogentry-preview h2 {
	font-size: 1.8em;
}

/*
 * Icons
 * --------------------------------------------------------------- */

.icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 1.5em;
}
.comments {
	background-image: url(../images/icons/comment_alt2_fill_14x16.png);
}
.comments-white {
	background-image: url(../images/icons/comment_alt2_fill_14x16-white.png);
}
.read-more {
	background-image: url(../images/icons/read_more_12x12.png);
}
.tags {
	background-image: url(../images/icons/tag_fill_16x16.png);
}

/*
 * Header / Navigation
 * --------------------------------------------------------------- */

.contain-to-grid {
	
	&,
	li ul.dropdown {
		background: rgba(0, 0, 0, .8);
	}
	
	a[rel=home] {
		color: #fff;
		display: block;
		font-size: 1.5rem;
		line-height: 45px;
		padding-left: 10px;
	}
	
	& .top-bar,
	& ul.title-area,
	.top-bar-section ul,
	.top-bar-section ul li,
	.top-bar-section li a:not(.button) {
		background: transparent;
	}
	
	.top-bar-section ul li a {
		@include transition(background, .5s);
	}
	
	.top-bar-section a {
		font-size: 1rem;
	}
}

/*
 * Page
 * --------------------------------------------------------------- */

.page-content {
	background: #fff;
	margin-bottom: 40px;
}

/*
 * BlogHolder
 * --------------------------------------------------------------- */

.blog-holder {
	background: #fff;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.blog-summary {
	margin-bottom: 20px;
	.icon {
		margin: 0;
	}
}

.blogentry-preview {
	min-height: 180px;
	position: relative;
	.image-count {
		background: rgba(0, 0, 0, .75);
		color: #fff;
		font-size: 24px;
		height: 35px;
		line-height: 28px;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 65px;
	}
	.blogentry-summary {
		background: rgba(100, 100, 100, .4);
		left: 5%;
		max-height: 90%;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		text-overflow: ellipsis;
		top: 5%;
		width: 40%;
		h2 {
			margin-bottom: 5px;
			a {
				color: #fff;
			}
		}
		img {
			max-width: 100%
		}
		a,
		p,
		.read-more a {
			color: #fff;
		}
		.blog-summary-header {
			border-bottom: 1px solid #fff;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		.blog-summary-date {
			font-size: small;
			margin: 0;
		}
		.first-paragraph {
			max-height: 60%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.pagination {
	margin-top: 20px;
}

/*
 * BlogEntry
 * --------------------------------------------------------------- */

.blog-header {
	background-attachment: fixed;
	background-position: center 45px;
	background-repeat: no-repeat;
	height: 300px;
	
	.columns {
		margin-top: 70px;
	}
	
	h2 {
		border-bottom: 1px solid #fff;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
	
	h2,
	p {
		color: #fff;
		text-shadow: 1px 1px 3px rgba(100, 100, 100, .75);
		text-align: center;
	}
}

.blog-content {
	background: #fff;
	box-shadow: 0 -5px 10px rgba(100, 100, 100, .5);
	margin-bottom: 40px;
	margin-top: -50px;
	div.blogEntry {
		margin-top: 50px;
	}
	.blog-image-caption {
		border: 1px solid #aaa;
		border-width: 0 1px 1px;
		color: #666;
		font-style: italic;
		font-size: 0.8em;
		padding: 5px 0;
		text-align: center;
	}
}

.entry-nav {
	margin-bottom: 2em;
	
	a {
		background: $backgroundFooter;
		display: block;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		padding: 0 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
}

/*
 * Image Gallery
 * --------------------------------------------------------------- */

#ImageGallery {
	margin-bottom: 1em;
}

.gallery-image {
	
	float: left;
	position: relative;
	text-align: center;
	width: 50%;
	
	&:hover {
		
		& .overlay {
			opacity: 1;
		}
	}
	
	.overlay {
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		@include rgba($backgroundOverlay, 0.5);
		top: 0;
		@include transition(opacity, 1s);
		width: 100%;
		
		h4 {
			color: #fff;
			margin-bottom: 25px;
			margin-top: 10%;
			padding: 5px 0;
			@include rgba(#000, 0.8);
			text-transform: uppercase;
		}
		
		p {
			
		}
		
		a {
			background: #000;
			color: #fff;
			padding: 5px 10px;
			@include transition(background, .5s);
			
			&:hover {
				background: $backgroundOverlay;
				color: #333;
			}
		}
	}
}

div.loading {
	background: $backgroundFooter;
	color: #fff;
	
	&.hidden {
		display: none;
	}
}

/*
 * Footer
 * --------------------------------------------------------------- */

footer {
	background: $backgroundFooter;
	color: #828282;
	
	.large-6 {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.tag-list {
		list-style: none;
		margin-left: 0;
		
		li {
			float: left;
			margin: 0 4px 0 0;
			
			&:after {
				content: ',';
			}
			&:last-of-type:after {
				content: '';
			}
		}
	}
	.copy {
		background: #000;
		
		p {
			margin: 10px 0;
		}
	}
}

/*
 * Orbit
 * --------------------------------------------------------------- */

.orbit-container {
	background: transparent;
	min-height: 300px;
	
	.orbit-bullets {
		
		li {
			background: #aaa;
			border: 0;
			padding: 2px;
			text-shadow: 2px  2px 2px rgba(0, 0, 0, .5);
			@include transition;
			
			&:hover,
			&.active {
				background: #333;
			}
			
			&:hover {
				cursor: pointer;
			}
		}
	}
}

/*
 * Comments
 * --------------------------------------------------------------- */

.comments-holder-container {
	
	h4,
	p,
	label {
		color: #fff;
	}
	
}

#Form_CommentsForm {
	}
	#Form_CommentsForm label {
		display: block;
		float: none;
		margin-bottom: 5px;
	}
	.middleColumn {
		clear: both;
	}
	#Form_CommentsForm textarea {
		height: 80px;
	}

#comments-holder .comments-holder {
	margin: 0 0 20px;
}

.comments-list {
	list-style: none;
	
	div.comment {
		overflow: hidden;
		
		img {
			border: 2px solid #ddd;
			border-radius: 50%;
			display: block;
			float: left;
			margin: 0 20px 10px 0;
		}
		
		p {
			float: left;
		}
	}
}

/* -----------------------------------------
   Mobile Styles
----------------------------------------- */

// medium screens

@media only screen and (max-width: 767px) {

	.blogentry-preview {
		.blogentry-summary {
			width: 60%;
		}
	}
	
}

// small screens

@media only screen and (max-width: 640px) {

	.hide-on-small-screens {
		display: none;
	}

	.blogentry-preview {
		.blogentry-summary {
			width: 90%;
		}
		.read-more {
			width: 100%;
		}
		h2,
		.blog-summary-date {
			text-align: center;
		}
	}
	
	.blog-header {
		height: 200px;
		
		.columns {
			margin-top: 30px;
		}
	}
	
	.gallery-image {
		width: 100%;
	}

}