/*
Syntax error: Invalid CSS after "...$radius: 10px) ": expected expression (e.g. 1px, bold), was "{"
        on line 3 of app.sass

1: /* style.scss *\/
2: 
3: @mixin rounded($vert, $horz, $radius: 10px) {
4:   border-#{$vert}-#{$horz}-radius: $radius;
5:   -moz-border-radius-#{$vert}#{$horz}: $radius;
6:   -webkit-border-#{$vert}-#{$horz}-radius: $radius;
7: }
8: 

Backtrace:
app.sass:3
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:1148:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/script/lexer.rb:199:in `expected!'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/script/parser.rb:486:in `assert_done'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/script/parser.rb:105:in `parse_mixin_definition_arglist'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:841:in `parse_mixin_definition'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:662:in `parse_directive'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:566:in `parse_line'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:471:in `build_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:490:in `block in append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:489:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:489:in `append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/exec.rb:463:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/exec.rb:326:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.11/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.11/bin/sass:9:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...$radius: 10px) \": expected expression (e.g. 1px, bold), was \"{\"\A         on line 3 of app.sass\A \A 1: /* style.scss */\A 2: \A 3: @mixin rounded($vert, $horz, $radius: 10px) {\A 4:   border-#{$vert}-#{$horz}-radius: $radius;\A 5:   -moz-border-radius-#{$vert}#{$horz}: $radius;\A 6:   -webkit-border-#{$vert}-#{$horz}-radius: $radius;\A 7: }\A 8: "; }
